body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;  
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color:#849d8f;  
  color:#ffffff;  
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.hidden-elements{
  display: none;
}

.container {
  width:1146px;
  margin:auto;
  padding:0 27px;       
}


.main-navigation {
  line-height: 18px;
  color: #ffffff;      
}

.site-navigation{
  list-style: none;
}

.user-navigation{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  
  margin:0;
  padding:0;

  list-style: none; 
}

.site-navigation-link,
.user-navigation-link{
  color: #ffffff;
  padding:0;
  margin:0;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
  background-color: #ffffff;
  color: #323232;
}

.phone{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a{
  color:#ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: center 83px ;  

  transition: background-image 0.5s ease, background-color 0.5s ease; 
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.slider {
  position: relative;

  padding-top: 280px;
 
  text-align: center;
  color: #ffffff
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;  
}

.slide-title {
 
  width: 670px;
  margin: 0 auto;
  padding-bottom:27px;

 
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
*/

.button{
  
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
  color:  #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  text-align: center;
 
  text-decoration: none;

  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

  border-radius: 50px;  
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus{
  background: linear-gradient(to bottom, #f26843, #e74a35), rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
  box-shadow: 0 2px 2px #ac1000;
}

.button:active{
  background: linear-gradient(to bottom, #f26843, #e74a35), rgba(0, 0, 0, 0.07);
  background-blend-mode: overlay;
  box-shadow: 0 2px 2px #942718;
}
/*
.slide-button{  
  padding:11px 43px 11px 41px;
  font-size: 32px;
  line-height: 44px; 
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
*/
.special-offers{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  list-style: none;
  margin:0;
  padding:0;
}

.special-offer{
  border-radius: 15px;
}

.special-offer-title{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer-raspberries{
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat; 
  background-color: rgb(97,24,46);
}

.special-offer-chocolate{
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat; 
  background-color: rgb(114,67,48);
}

.special-offer-raspberries,
.special-offer-chocolate{
  width:560px;
  min-height:229px;
}

.catalog-item{
  text-align: center; 
}

.catalog-item a{
  color:#ffffff;
  margin:0;
  padding:0;
  display:block;
}

.catalog-item img{
  border-radius: 50%;
  margin-bottom: 8px;
}

.catalog-item-title{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
 
  margin:0;
  padding:0;
  width:255px;

  display:inline;

  background-image: linear-gradient(to top,  rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100px);
  position:relative;
  bottom: 50px;
}

.price-of-item{
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  display:block;
  position:relative;
  bottom:71px;  
  right:2px;
  text-shadow:0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
 }

.price-of-item span{
  text-transform:  lowercase;
  font-size:30px;
}

.catalog-item:hover{
  background: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;    
}

.catalog-item .button{
  visibility: hidden;
}

.about-us{
  background-color: #9d8b84;
  background-image: url("../img/waffle-background.jpg"); 
  color: #323232;
  border-radius:15px;
  margin:0;
  padding:0; 
}

.about-us-title{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  padding:0; 
  margin-left:21px;
  padding-top:26px;  
}

.about-us-advantages{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right:34px;
}

.about-us-advantages-item:nth-child(2n){
  margin-left: 27px;
}
  
.about-us-advantages-item{
  font-weight: 400;
  display:flex;
  justify-content: space-between;
  flex-grow:1;
  margin:0;
  padding:0; 
  margin-top:23px;  
}

.about-us-advantages-item:first-child::before{
  content:url("../img/ice-cream.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
}

.about-us-advantages-item:nth-child(2)::before{
  content:url("../img/cow.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
  
}

.about-us-advantages-item:nth-child(3)::before{
  content:url("../img/eco.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
}

.about-us-advantages-item:last-child::before{
  content:url("../img/thermometer.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
}

.new-in-blog,
.subscription{  
  border-radius:15px;
}

.new-in-blog{
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg"); 
  background-repeat: no-repeat;  
  font-weight: 500;
  color:#323232; 
  margin:0;
  padding:0;  
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-in-blog p{  
  margin:0;
  margin-top:23px;
  margin-left:20px;
  padding:0;
}

.link-to-article{  
  width:283px;    
  margin:0;
  margin-left:20px;
  margin-top:4px;
  padding:0;   
}

.link-to-article a{  
  font-size: 24px;
  line-height: 30px; 
  font-weight: 700;   
  color:#323232;
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 2px, #323232 2px, #323232 4px, rgba(0,0,0,0) 4px, rgba(0,0,0,0) 100px);
}

.new-in-blog a:hover,
.new-in-blog a:focus{  
  color:#e84d37; 
}

.subscription{
  background-image: url("../img/bg-post.svg");  
  background-repeat: no-repeat;   
  color:#5a5a5a;
  font-weight: 400;
  margin:0;
  padding:0;  
}

.subscription-background{
  background-color: #f8f7f4;
  border-radius: 10px;
  padding:0;
  margin:4px 6px; 
  display:flex;
  flex-direction: column;
}

.subscription-text{
  margin:0;
  padding:0;
  margin-left:21px;
  margin-right:21px;
  margin-top: 31px; 
  margin-bottom:36px;
}

.subscription-form{
  display:flex;
  justify-content:space-between;
  margin-right:21px;
  margin-left:21px;
  margin-bottom:35px;
  height:44px;
}

.email-field{
  flex-grow: 1;
  margin-right:11px;
  border-radius:5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  padding-left:14px;
}

.send-email-button{
  padding:9px 17px 11px 19px;
}

.contacts{
  font-size: 14px;
  line-height: 20px; 
  font-weight: 400; 
  color:#323232;
}

.contacts span{
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
}

.contacts a{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.page-footer a{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;  
}

.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active{
  color:#ffbc9e;
}

.social-list{
  opacity: 0.5;
  list-style: none;
}

.footer-nav-list{
  list-style: none;
}

.footer-nav-item .bold-link{
  font-weight: 700;
  margin-left:-15px;
}

.copiright{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/*.activ-button-of-navigation{
  background-color: #d07058;
  border-radius:15px;
  
}

.activ-button-of-navigation .site-navigation-link{
  display:inline-block; 
  margin-left:13px;
  margin-right:14px;
}
*/

.user-navigation-item.full-basket{
  background-color: rgba(248, 247, 244, 0.99);
}

.full-basket a{
  color: #323232;
}

.bread-crumbs{
  list-style: none;
  margin:0;
  margin-top: 21px;
  padding:0;  
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: 400; 
}

.bread-crumbs-item{
  position: relative;

  margin-right: 21px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 

  line-height: .97; 
}

.bread-crumbs-item::after{
  content: "»";
  position: absolute;
  right:-14px;
  
}

.bread-crumbs-item:last-child{
  margin-right: 0;
  border-bottom:none;
}

.breadcrumbs-current::after {
  display: none;
}
 

.bread-crumbs a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#ffffff;
  margin:0;
  padding:0;
}

.main-title{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin:0;
  margin-top: 3px;
  padding:0;  
}

.name-of-filter{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: #ffffff; 
}

.sorting:hover,
.sorting:focus{
  color: #323232;
}

.sorting,
.price,
.fat,
.fillers{  
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
}

.button-apply-filters{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; 
}

.button-apply-filters:hover,
.button-apply-filters:focus,
.button-apply-filters:active{
  background-color: #ffffff; 
  color: #323232;  
}

.pagination-item a{
  color: #ffffff;
}

.pagination-item-not-activ a{
  color:rgba(255, 255, 255, 0.2);
}

.pagination-item-current{
  display: block;
  background-color: #ffffff; 
  vertical-align: middle;  
}

.pagination-item-current a{ 
   color: #323232;
}

.pagination-item a:active{
  background-color: #ffffff; 
  color: #323232;
}

.pagination-item a:hover,
.pagination-item a:focus{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; 
}

/* ----- Сеточные стили ----- */
.page-header{
  width:100%;    
}

.page-header .container{
  justify-content: flex-end;    
}

.main-navigation{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;  
  width:100%; 
}

.header-logo{
  margin:0;
  padding:0;
  margin-top: 9px;
  margin-right:10px;
}

.site-navigation {
  margin:0;
  
  padding:0;
  
  
  display:flex;   
  align-items: baseline;
}

.site-navigation-item{ 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  vertical-align: baseline;
  line-height: .97; 

  margin:0;
  margin-right: 14px;
  margin-left:14px; 
  margin-top:31px;
  padding:0;
  
   
}

.active-site-navigation-item{
  background-color: #d07058;  
  padding-left:14px;
  padding-right:13px;
  padding-top:9px;
  padding-bottom:10px;
  margin:0px;
  border-radius:30px;
}


.user-navigation {
  margin-left:auto;
  margin-top:23px;
  display:flex;
  justify-content: space-between;
  min-width: 262px;
  height: 32px;
}                                                                                                                        

.user-navigation-item{
  padding:0;
  border-radius: 30px;
  background-color:rgba(255, 255, 255, 0.2);  
  margin-left:10px;
  flex-grow:1;  
}

.user-navigation-item:first-child{  
  flex-grow:0;
}

.user-navigation-link span{
  position:relative;
  bottom: 13px;
  left:6px;
}

.user-navigation-link svg{
  position:relative;
  bottom:1px;
  left:9px;
  margin:7px;
}

.user-navigation-item:first-child svg{
  margin:8px;
  position:relative;
  bottom:1px;
  left:0px;
}

.phone{
  align-self: center;
  margin:0;
  text-align:right; 
  float:right;
}

.phone a{
  position:relative;
  top:4px;
}

.about-us{
  margin: 0;  
  margin-top:40px;
  min-height: 306px;
}

.about-us-advantages{
  display: flex;
  flex-wrap:wrap;
}

.about-us-advantages-item{
  width: 475px;  
}

.news-container{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}

.new-in-blog,
.subscription{
  width:560px;
  min-height:220px;  
}

.page-footer{ 
  width: 100%;
  min-height:107px;
}

.page-footer .container{
  display: flex;
  flex-direction: row;  
}


.social-list{
  margin:0;  
  margin-top:36px;
  padding:0;    
  display:flex;
  align-items:flex-start;
}

.social-list-item{
  padding:0;
  margin:0;
  margin-right:11px;
  border:solid 3px rgba(255,255, 255,0.5);
  border-radius: 50px;
  display:block;
  height:32px;
 }

.footer-nav-list{
  margin:0;
  padding:0;
  margin-top:31px;
  margin-left: 226px;
  width: 305px;
  display:flex;
  align-content:flex-start; 
  flex-wrap: wrap; 
}

.footer-nav-item{  
  margin:0;
  padding:0;
  
}

.footer-nav-item a{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  line-height: 0.97;
}

.footer-nav-item:first-child:before{
  content: url("../img/heart.svg");
   
  position:relative;
  top:3px;
  right:22px;
 }

.footer-nav-item:nth-child(2n+1){
  width: 143px;
}

.footer-nav-item:nth-child(2n){
  width: 162px;
}

.copiright{
  margin-left:auto;  
  margin-top:18px;
  margin-right:0;
  display:flex;
  flex-direction:column;
}

.copiright p{
  margin-top:0px;
}

.catalog-list{
  display:flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item{
  width: 267px;
  margin-right:26px;
  margin-bottom:-42px;
  min-height: 405px;
}

.catalog-item:nth-child(4n){
  margin-right: 0;
}

.main-page .container{
  flex-direction:column;
}

.main-page .container::after{
content:"";
  display:block;
  text-align: center;
  width:1146px;
  border-top: solid 1px rgba(255, 255, 255, 0.3);
}

.special-offers{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}

.contacts{
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 39px;
  position:relative;
}

.contacts-sidebar{
  width:302px;
  height: 305px;
  position:absolute;
  top:63px;
  left:871px;  
  background-color: #ffffff;
}

.form-of-filters{
  margin-top:30px;
  display:flex;
  flex-wrap: wrap;
}

.fillers{
  display:flex;
  margin:0;
  padding:0;
}

.button-apply-filters{
  width:144px;
  height:37px;
  align-self:center;
}

.pagination-list{
  list-style: none;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;  
  flex-grow:1;   
  margin:0;
  margin-top:42px;
  margin-bottom:30px;
    
  padding:0;
 
}

.pagination-list::before{
  content: "";

  position: relative;
  top: 8px;
  right: 5px;

  width: 8px;
  height: 8px;

  border-top: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  opacity: 0.2;
  transform: rotate(-135deg);
  margin-right: 9px;

 }

 .pagination-list::after{
  content: "";

  position: relative;
  top: 8px;
  right: 5px;

  width: 8px;
  height: 8px;

  border-top: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  transform: rotate(45deg);
  margin-left:17px;
 }


.pagination-item{
  margin-right:2px;
  width:27px;
  height:26px;
  border-radius:50%;
  text-align:center;
}

.pagination-item a{
  margin:0;
  padding:0;
  margin-top:2px;
  line-height: 28px;
  font-weight: 500;
}

.pagination-item:last-child{
  margin-right:0;
}


