body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;  
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color:#8996a6;  
  color:#323232; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .hidden-forms{
    display: none;
  }

  a {
    text-decoration: none;
  }

  .main-navigation {
    line-height: 18px;
    color: #ffffff;      
  }

  .site-navigation{
    text-decoration: underline;
  }

  .user-navigation{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;    
  }

  .site-navigation,
  .user-navigation,
  .sub-navigation,
  .section-about,
  .section-about ul,
  .footer ul{
    list-style: none;
  }

.site-navigation a,
.user-navigation a,
.sub-navigation a,
.button,
.phone,
.footer{
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.sub-navigation a:hover,
.sub-navigation a:focus{
  background-color: #ffffff;
  color: #323232;
}

.section-about{
  background-color: #9d8b84;
  background-image: url("../img/waffle-background.jpg"); 
}

.section-about h2{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.section-about li{
  font-weight: 400;
}

.new-in-blog{
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg"); 
  background-repeat: no-repeat;  
  font-weight: 500;
}

.new-in-blog a{    
  font-size: 24px;
  line-height: 30px; 
  font-weight: 700;
  color:#323232; 
  text-decoration: underline;
}

.subscription{
  background-image: url("../img/bg-post.svg");  
  background-repeat: no-repeat; 
  background-color: #f8f7f4;
  color:#5a5a5a;
  font-weight: 400;
}

.button{
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
  color:  #ffffff;
  text-align: center;
  background: linear-gradient(to bottom, #e74a35, #f26843);
  border: none; 
}

.button:hover,
.button:focus{
  background: linear-gradient(to bottom, #e74a35, #f26843), rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

.button:active{
  background: linear-gradient(to bottom, #e74a35, #f26843), rgba(0, 0, 0, 0.07);
  background-blend-mode: overlay;
}

.contacts{
  font-size: 14px;
  line-height: 20px; 
  font-weight: 400;
  background-color: #ffffff;
}

.contacts span{
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
}

.contacts a{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.footer a{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;
  text-decoration: underline;
}

.footer a:hover,
.footer a:focus,
.footer a:active{
  color:#ffbc9e;
}

.footer-social{
  opacity: 0.5;
}

.copiright{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}