body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;  
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color:#849d8f;  
  color:#ffffff;    
}

a {
  text-decoration: none;
  margin:0;
  padding:0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.page-header {
  width:100%;    
}

.container {
  width:1146px;
  margin:auto;
  padding:0 27px;   
}

.page-header .container {
  justify-content: flex-end;    
}

.main-navigation {
  line-height: 18px;
  color: #ffffff;   
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;  
  width:100%; 
}

.header-logo {
  margin:0;
  padding:0;
  margin-top: 9px;
  margin-right:10px;
}

.site-navigation {
  list-style: none;
 
  margin:0;  
  padding:0;    
  
  display:flex;   
  flex-wrap: wrap;
  
  margin-top:29px; 
}

.site-navigation-item {
  position:relative;
}

.site-navigation-item:hover .sub-navigation {
  display:block;
}

.active-site-navigation-item {
  background-color: #d07058;  
  color:#ffffff;
 
  padding-top:6px;
  padding-bottom:7px;
  padding-right:14px;
  padding-left:14px;
  margin:0px;
  border-radius:30px;
  border:none;
}  

.site-navigation-link {   
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  
  margin:0;
  margin-right: 14px;
  margin-left:14px;  
  
  color: #ffffff;
  text-decoration: none;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.site-navigation-item:hover .site-navigation-link {
  margin-right: 0;
  margin-left:0;
  padding-right:14px;
  padding-left:14px;
  padding-top:7px;
  padding-bottom:5px;
  background-color: #f7f6f3;
  color:#323232;
  border-radius:30px;
}

.site-navigation-link:active {
  box-shadow: 0px 2px 1px #696969;
}

.sub-navigation {  
  list-style: none;
  margin:0;
  padding:0;

  min-width: 143px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);  
  border-radius:5px;  

  position:absolute;
  top:28px;
  left:-6px;
  z-index: 10;

  display:none;
}

.sub-navigation-item:first-child {  
  font-weight: 700; 
  padding-bottom:3px;
  padding-top:3px;
}

.sub-navigation-item:last-child {
  padding-bottom: 6px;
}

.sub-navigation-item:first-child::after {
  content:"";
  display:block;
  margin-left:6px;
  margin-top:3px;
 
  padding-left:0;
  width:128px;
  border-bottom:1px solid rgba(50,50,50,0.2);
}

.active-sub-navigation-item {
  background-color: #d07058;   
} 

.sub-navigation-link {
  color: #323232;
  padding-bottom:7px;
  padding-top:8px;
  padding-left:20px;
  padding-right:21px;  
  display: block; 
}

.sub-navigation-link:hover,
.sub-navigation-link:focus {
   background-color: #fbded7;   
}

.sub-navigation-link:active {
  background-color: #f6b5a5;   
} 

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  
  margin:0;
  padding:0;

  list-style: none; 

  margin-left:auto;
  margin-top:23px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}  

.main-navigation > a {  
  line-height:0;
}

.user-navigation-item {
  position:relative;    
  margin:0;
  padding:0;
}

.user-navigation-item:hover .search-form,
.user-navigation-item:hover .login-form{
  display: block;
  z-index:20;
}

.user-navigation-link {
  color: #ffffff;
  padding:0;
  margin:0;
  border-radius: 30px;
  background-color:rgba(255, 255, 255, 0.2); 
  padding-left:16px;
  padding-right:17px; 
  padding-top:7px;
  padding-bottom:9px;
  
  text-decoration: none;
  margin-left:11px; 
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-item:hover .user-navigation-link {
  background-color: #ffffff;
  color: #323232;
}

.user-navigation-link:hover path,
.user-navigation-link:focus path,
.user-navigation-link:hover circle,
.user-navigation-link:focus circle,
.user-navigation-item:hover path,
.user-navigation-item:focus path {
  fill: #323232;
}

.user-navigation-link svg {
  position:relative;
  top:6px;
  margin-right:3px;
}

.user-navigation-link-search {
  border-radius: 50%;
  padding-left:8px;
  padding-right:5px;
}

.search-form {
  position:absolute;
  right:0px;
  top:36px;
  width:341px;
  height:84px;  
  padding-top:6px;

  background-color:#f8f7f4;
  border-radius:5px;
  margin:0;
  padding:0;
  padding:20px 15px;
  box-sizing:border-box;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  display:none;
}

.search-form input {
  height: 44px;
  font-size: 14px;
  margin:0;
  padding:0; 
  width: 100%;
  
  padding-left: 13px;
}

.login-form {  
  position:absolute;

  right:0px;
  top:36px;
  display:none;
  width:277px;
  height:214px;

  background-color:#f8f7f4;
  border-radius:5px;

  margin:0;
  padding:0;
  padding-top:20px;
  padding-left:19px;
  padding-right:17px;
  padding-bottom:22px;
  box-sizing:border-box;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);  
}

.email-field-login-form {
  font-size: 14px;
  margin:0;
  padding:0;
  margin-bottom: 20px;
  width: 100%;
  box-sizing:border-box;
}

.login-form-inner {
  display: flex;
}

.login-form-button {
  width: 100px;
  height:44px;
  margin-right:20px;
  border-radius: 25px /30px; 
  padding-top:3px;
}

.login-form-links {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.login-form-links a {
  padding-right:0;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color:#323232;
  text-decoration: underline;
}

.login-form-links a:hover,
.login-form-links a:focus,
.login-form-links a:active {
  color:#e84d37;
  text-decoration: underline;
}

.phone {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin:0;
  text-align:right; 
}

.phone p {
  margin:0;
  margin-bottom: 4px;
}

.phone a {
  color:#ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-wrapper {
  background-color: #849d8f;
  
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: center top;  

  transition: background-image 0.5s ease, background-color 0.5s ease; 
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;  
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {  
  background-image: url("../img/slider-3.png");
}

.slider {
  position: relative;

  padding-top: 235px;
 
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;  
}

.slide:last-child .slide-title{
  width:632px;
}

.slide-title { 
  width: 670px;
  margin: 0 auto;
  margin-top: 39px;
  padding-bottom:27px;
 
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.button {  
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
  color:  #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  text-align: center;
 
  text-decoration: none;

  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);   
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f26843, #e74a35), rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
  box-shadow: 0 2px 2px #ac1000;
  color:#fefefe;
}

.button:active {
  background: linear-gradient(to bottom, #f26843, #e74a35), rgba(0, 0, 0, 0.07);
  background-blend-mode: overlay;
  box-shadow: 0 2px 2px #942718;
  color:#fceeec;
}

.slide-button {  
  padding:11px 43px 11px 41px;
  font-size: 32px;
  line-height: 44px; 
  border-radius: 50px;
  margin-top:2px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;  
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block; 
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.special-offers {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  list-style: none;
  margin:0;
  margin-bottom:34px;
  padding:0;  
}

.special-offer {
  border-radius: 15px;
  padding-top:16px;
  padding-left:20px;
  padding-right:23px;
  padding-bottom:24px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.special-offer-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin:0;
  margin-bottom:15px;
  padding:0;
}

.special-offer-raspberries {
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat; 
  background-color: rgb(97,24,46);
  background-size:cover;
}

.special-offer-chocolate {
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat; 
  background-color: rgb(114,67,48);
  background-size:cover;
}

.special-offer-raspberries,
.special-offer-chocolate {
  width:560px;
  min-height:229px;
}

.special-offer-text {
  margin:0px;
  flex-grow: 1;
  padding:0;
  margin-bottom: 45px;
}

.special-offer-button {
  align-self: flex-end;
  
  box-sizing: border-box;
  margin:0; 
  border-radius:30px;
}

.special-offer-raspberries .special-offer-button {
  padding:10px 23px 11px 22px;
}

.special-offer-chocolate .special-offer-button {
  padding:10px 21px 11px 21px;
}

.catalog-item {
  text-align: center; 
  width:293px;
  margin-bottom:-42px;
  position:relative;
  min-height: 405px;
}

.catalog-item a {
  color:#ffffff;
  margin:0;
  padding:0;
  display:block;
}

.catalog-item img {
  border-radius: 50%;
  margin-top:6px;
  margin-bottom: 8px;
}

.hit-catalog-item {
  position: absolute;
  margin:0;
  right:219px;
  bottom:330px;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
 
  margin:0;
  padding:0;
  width:255px;
  display:inline;

  background-image: linear-gradient(to top,  rgba(255, 255, 255, 0.2) 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100px);
  position:relative;
  bottom: 50px;
}

.price-of-item {
  font-size: 45px;
  line-height: 45px;
 
  display:block;
  position:relative;
  bottom:71px;  
  right:60px;
  text-shadow:0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
 }

.price-of-item span {
  text-transform:  lowercase;
  font-size:30px;
}

.catalog-item:hover {
  background: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;    
  z-index:10;
}

.catalog-item:hover .button {
  display:inline-block;
}

.catalog-item-button {  
  position:absolute;
  right:50px;
  bottom:22px;
  width:200px;
  min-height:44px;
  margin:0;
  padding:0;  
  border-radius: 30px;
  display:none;    
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  padding:0; 
  margin-left:21px;
  padding-top:26px;  
}

.about-us-advantages {
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-between;
  padding-left:20px; 
}

.about-us-advantages-item {
  font-weight: 400;
  display:flex;
  justify-content: space-between;
  flex-grow:1;  
  margin:0;
  padding:0; 
  margin-top:23px;  
}

.about-us-advantages-item:first-child::before {
  display:block;
  width:49px;
  height:49px;
  content:url("../img/ice-cream.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
}

.about-us-advantages-item:nth-child(2)::before {
  display:block;
  width:49px;
  height:49px;
  content:url("../img/cow.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
  
}

.about-us-advantages-item:nth-child(3)::before {
  display:block;
  width:49px;
  height:49px;
  content:url("../img/eco.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
}

.about-us-advantages-item:last-child::before {
  display:block;
  width:49px;
  height:49px;
  content:url("../img/thermometer.svg");
  position:relative;
  bottom:15px;
  margin-right:8px;
}

.new-in-blog {
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg"); 
  background-repeat: no-repeat;  
  background-size: cover;
  font-weight: 500;
  color:#323232; 
  margin:0;
  padding:0;  
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-in-blog p {  
  margin:0;
  margin-top:23px;
  margin-left:20px;
  padding:0;
}

.link-to-article {  
  width:283px;    
  margin:0;
  margin-left:20px;
  margin-top:4px;
  padding:0;   
}

.link-to-article a {  
  font-size: 24px;
  line-height: 30px; 
  font-weight: 700;   
  color:#323232;
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 2px, #323232 2px, #323232 4px, rgba(0,0,0,0) 4px, rgba(0,0,0,0) 100px);
}

.link-to-article a:hover,
.link-to-article a:focus,
.link-to-article a:active {  
  color:#e84d37; 
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 2px, #e84d37 2px, #e84d37 4px, rgba(0,0,0,0) 4px, rgba(0,0,0,0) 100px);
}

.subscription {
  background-image: url("../img/bg-post.svg");  
  background-repeat: no-repeat;   
  background-size: cover;
  color:#5a5a5a;
  font-weight: 400;
  margin:0;
  padding:4px 6px; 
  display:flex;
  flex-direction: column; 
}

.subscription-text {
  margin:0;
  padding:0;
  padding-top:30px;
  padding-bottom:36px;
  border-radius: 10px 10px 0 0;
}

.subscription-form {
  display:flex;
  justify-content:space-between; 
  padding-bottom:35px; 
  border-radius: 0 0 10px 10px;
}

.subscription-text,
.subscription-form {
  padding-left:20px;
  padding-right:21px;
  background-color: #f8f7f4;
}

.email-field {  
  border-radius:5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  outline-offset:-1px;
  padding-left:14px;
  height:44px;
  font-family: "Roboto", Arial, sans-serif;  
  
  line-height: 24px;
  font-weight: 700;
  color:#323232;
  box-sizing: border-box;
}

.email-field-subscription {
  flex-grow: 1;
  margin-right:11px;
  font-size: 16px;
}

.email-field:hover,
.feedback-comment:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  outline-offset:-2px;
  border-radius:5px;
  padding-left:13px;
}

.email-field:focus,
.feedback-comment:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  outline-offset:-2px;
  border-radius:5px;
  padding-left:13px;
}

.email-field::placeholder,
.feedback-comment::placeholder {
  font-weight: 400;
  color:#999999;
}

.email-field:-ms-input-placeholder,
.feedback-comment:-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.email-field::-ms-input-placeholder,
.feedback-comment::-ms-input-placeholder {
  font-weight: 400;
  color:#999999;
}

.send-email-button {
  padding:9px 17px 11px 19px;
  border-radius:30px;
}

.contacts {
  font-size: 14px;
  line-height: 20px; 
  font-weight: 400; 
  color:#323232;
  position:relative;

  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: 39px;
  margin-left:-27px;
  position:relative;
 }

.contacts::before {
  content: url("../img/pin.svg");
  position:absolute;
  top:139px;
  left:266px;
}

.call-for-order {
  line-height: 24px;
  margin:0;
} 

.page-footer a {
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;  
}

.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active {
  color:#ffbc9e;
}

.social-list {
  opacity: 0.5;
  list-style: none;
}

.footer-nav-list {
  list-style: none;  
  position: relative;
}

.footer-nav-list a {
  font-size: 13px;
}

.footer-nav-item .bold-link {
  font-weight: 700;  
}

.copiright{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.user-navigation-full-basket {
  position:relative;
 }

.user-navigation-full-basket:hover .basket-wrapper {
  display:block;
}

.full-basket {
  background-color: rgba(248, 247, 244, 0.99);
  border-radius:30px; 

  position:relative;
  padding:0;
  
  flex-grow:1;  

  margin:0;
   
  color: #323232;
  padding-left:16px;
  padding-right:17px; 
  padding-top:7px;
  padding-bottom:8px;
  
  text-decoration: none;
  margin-left:11px;
}

.full-basket svg {
  position:relative;
  top:6px;
  margin-right:3px;
}

.basket-wrapper {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  margin:0px; 
  padding:0px;
  text-align: right; 
  position: absolute;
  top:37px;
  right:0px;
  width:540px;
  min-height: 176px;
  z-index: 20;
  display:none;
}

.basket-list {
  display:flex;
  flex-direction:column;
  padding-top:9px; 
  padding-right:34px;
  margin-bottom: 15px;
}

.basket-item {
  display:flex;
  
  margin-top:20px; 
  vertical-align: bottom;

  position: relative;
}

.basket-item img {
  position: relative;
  top:-9px;
  right:-1px;
  border-radius:50%;
  margin-right:14px;
}

.basket-item a {
  width:217px;
  color:#323232; 
  text-align: left; 
}

.basket-item-amount {
  flex-grow:1;
  text-align:right;
}

.basket-item-price {
  color:#999999;
}

.basket-item-cost {
  margin-left:29px;
}

.delete-button { 
  border: 0;
  cursor: pointer;  
  position: absolute;
  
  background-color: transparent;
}

.delete-item-button {
  width:12px;
  height:12px;
  top:0px;
  left:-19px; 
  position: absolute;
}

.delete-button::before,
.delete-button::after {
  content: "";

  position: absolute;
  top: 6px;
  left: -1px;
 
  background-color: #323232;
}

.delete-item-button:before,
.delete-item-button:after {
  height: 1px; 
  width: 15px;  
}

.delete-button::before {
  transform: rotate(45deg);  
}

.delete-button::after {
  transform: rotate(-45deg);
}

.basket-total {
  display:block;
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align:right;
  margin-right:13px;
  margin-left:15px;
}

.basket-total::before {
  content:"";
  display: block;
  border-bottom: 1px solid #cacac7;
  margin-bottom:14px;
}

.basket-button {
  display:inline-block;
  margin-left: auto;
  margin-right: 14px;
  margin-top:12px;
  margin-bottom: 21px;
  
  border-radius: 25px /30px; ;
  width:170px;
  height:44px;  
  line-height:44px;
}

.bread-crumbs {
  list-style: none;
  margin:0;
  margin-top: -19px;
  padding:0;  
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: 400; 
}

.bread-crumbs-item {
  position: relative;

  margin-right: 21px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 

  line-height: .97; 
}

.bread-crumbs-item::after {
  content: "»";
  position: absolute;
  right:-14px;
  
}

.bread-crumbs-item:last-child {
  margin-right: 0;
  border-bottom:none;
}

.breadcrumbs-current::after {
  display: none;
}
 

.bread-crumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#ffffff;
  margin:0;
  padding:0;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin:0;
  margin-top: 3px;
  padding:0;  
}

.name-of-filter {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 15px;
}

.sorting {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: #ffffff; 
  padding:8px 32px 8px 16px;
  border-radius: 30px;
  text-transform: lowercase;
  border:none;
}

.sorting:hover,
.sorting:focus {
  color: #323232;
  background-color: #ffffff;
}

.sorting,
.price,
.fat,
.fillers {  
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
  border-radius:30px;
  margin-top:4px;
  height:37px;
}

.select {
  position: relative;
}

select::-ms-expand {
  display: none;
}

.select svg {
  position: absolute;
  right: 16px;
  top: 6px;
  z-index: 1; 
  pointer-events: none;
  box-sizing: border-box;
}

.select:hover path,
.select:focus path {
  fill:#323232;  
}

.sorting {  
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

.price {
  width:220px; 
  box-sizing: border-box;
  position:relative;
}

.all-line {
  width:176px;
  border-bottom: solid 4px rgba(248, 247, 244, 0.5);
  position:absolute;
  top:17px;
  left:22px;
}

.fat-line {
  width:87px;
  border-bottom: solid 4px rgba(248, 247, 244, 1);
  position:absolute;
  top:17px;
  left:48px;
}

.min-price,
.max-price {  
  width:20px;
  height:20px;
  border-radius: 50%;
  background:radial-gradient(circle,  #849d8f 2px,#ffffff 3px, #ffffff 20px);
  position:absolute; 
}

.min-price {
  top:-7px;
  left:-13px;
}

.max-price {
  top:-7px;
  left:85px;
}

.min-price:hover {
  width:22px;
  height:22px;  
  background:radial-gradient(circle,  #849d8f 2px,#ffffff 3px, #ffffff 11px);
  cursor: pointer;
}

.max-price:hover {
  width:22px;
  height:22px;  
  background:radial-gradient(circle,  #849d8f 2px,#ffffff 3px, #ffffff 11px);
  cursor: pointer;
}

.fat {
  width:415px;
  padding-left:44px;
  padding-right: 17px;
  padding-top:8px;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;  
}

input[type="radio"] {
  display:none;            
}

input[type="radio"] + label { 
  vertical-align: middle;
  position:relative;
}

input[type="radio"] + label::before {
  content:"";
  width:22px;
  height:22px;

  border-radius:50%;
  display:inline-block;
  position:absolute;
  top:-2px;
  left:-32px;
}

input[type="radio"]  +label::before {
  background:radial-gradient(circle,  rgba(255, 255, 255, 0.2) 7px, rgba(255,255,255,0.8) 8px, rgba(255,255,255,0.8) 11px);
}

input[type="radio"]:checked +label::before {
  background:radial-gradient(circle, rgba(255,255,255,0.8) 3px, rgba(255, 255, 255, 0.2) 4px, rgba(255, 255, 255, 0.2) 7px, rgba(255,255,255,0.8) 8px, rgba(255,255,255,0.8) 11px);
}

input[type="radio"] +label:hover::before {
  background:radial-gradient(circle,  rgba(255, 255, 255, 0.2) 7px, #ffffff 8px, #ffffff 11px);
}

input[type="radio"]:checked +label:hover::before {
  background:radial-gradient(circle, #ffffff 3px, rgba(255, 255, 255, 0.2) 4px, rgba(255, 255, 255, 0.2) 7px,#ffffff 8px,#ffffff 11px);
}

input[type="radio"]:disabled +label::before {
  background:radial-gradient(circle,  rgba(255, 255, 255, 0.2) 7px, rgba(255, 255, 255, 0.4) 8px, rgba(255, 255, 255, 0.4) 11px);
}

input[type="radio"]:checked:disabled +label::before {
  background:radial-gradient(circle, rgba(255, 255, 255, 0.4) 3px, rgba(255, 255, 255, 0.2) 4px, rgba(255, 255, 255, 0.2) 7px,rgba(255, 255, 255, 0.4) 8px,rgba(255, 255, 255, 0.4) 11px);
}

.fillers {
  display:flex;
  margin:0;
  padding:0;
  min-width:703px; 
  padding-left:47px; 
  padding-top:5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.option {
  display: inline-block;
  margin-right: 53px;
  text-transform: lowercase;
  
}

.option:last-child {
  margin-right: 0px;
}

.check-input {
  position: absolute;
  display:none;
}

.check-box {
  position: absolute;
  margin-left: -33px;
  width: 24px;
  height: 20px;
}

.check-square {
  display: none;
}

.check-box path {
  fill: rgba(255, 255, 255, 0.8);
}

.check-input:checked + * .check-square {
  display:block;
  fill: rgba(255, 255, 255, 0.8);
}

.check-input:disabled + .check-box path {  
  fill: rgba(255, 255, 255, 0.4);
}

.check-box:hover path,
.check-box:hover .check-square {
  fill:#ffffff;
}

.button-apply-filters {
  background-color: rgba(255, 255, 255, 0.2);
  outline-offset:-2px;
  color: #ffffff; 
  border:none;
  border-radius: 30px;
  border: solid 2px #ffffff;
}

.button-apply-filters:hover,
.button-apply-filters:focus {
  background-color: #ffffff; 
  color: #323232;  
  font-weight: 500;
}

.button-apply-filters:active {
  background-color:#ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item-not-activ a {
  color:rgba(255, 255, 255, 0.2);
}

.pagination-item-current {
  display: block;
  background-color: #ffffff; 
}

.pagination-item-current a { 
   color: #323232;
}

.pagination-item a:active {
  background-color: #ffffff; 
  color: #323232;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; 
}

.about-us {   
  min-height: 306px;
  background-color: #9d8b84;
  background-image: url("../img/waffle-background.jpg"); 
  background-size: cover;
  color: #323232;
  border-radius:15px;
  margin:0;
  margin-top:4px;
  padding:0;
}

.about-us-advantages {
  display: flex;
  flex-wrap:wrap;
}

.about-us-advantages-item {
  width: 475px; 
  margin-right:30px; 
}

.news-container {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top:41px;
}

.new-in-blog,
.subscription {
  width:560px;
  box-sizing: border-box;
  min-height:220px;  
  border-radius:15px;
}

.page-footer { 
  width: 100%;
  min-height:107px;
}

.page-footer .container {
  display: flex;
  flex-direction: row;  
  margin-top: -6px;
}

.social-list {
  margin:0;  
  margin-top:36px;
  padding:0;    
  display:flex;
  align-items:flex-start;
}

.social-list-item {
  padding:0;
  margin:0;
  margin-right:11px;
  border:solid 3px rgba(255,255, 255,0.5);
  border-radius: 50px;
  display:block;
  height:32px;
 }

.footer-nav-list {
  margin:0;
  padding:0;
  margin-top:31px;
  margin-left: 226px;
  width: 306px;
  display:flex;
  align-content:flex-start; 
  flex-wrap: wrap; 
}

.footer-nav-item {  
  margin:0;
  padding:0;  
}

.footer-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  line-height: 0.97;
}

.footer-nav-item:first-child::before {
  content: "";
  background-image:url("../img/heart.svg");
  width:15px;
  height:13px;
   
  position:absolute;
  top:6px;
  left:-21px;
 }

.footer-nav-item:nth-child(2n+1) {
  width: 143px;
}

.footer-nav-item:nth-child(2n) {
  width: 163px;
}

.copiright {
  font-size: 12px;
  margin-left:auto;  
  margin-top:18px;
  margin-right:0;
  display:flex;
  flex-direction:column; 
}

.copiright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copiright p {
  margin-top:0px;
}

.hit-catalog-container {
  margin-bottom:-35px;
}

.catalog-list {
  display:flex;  
  flex-wrap: wrap;
  padding: 0;
  list-style: none; 
  width:1172px;   
  margin:0; 
  margin-left:-13px;  
}

.main-page .container {
  flex-direction:column; 
}

.special-offers {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}

.contacts-sidebar {
  width:302px;
  height: 305px;
  position:absolute;
  top:63px;
  right:0px;  
  background-color: #ffffff;
  border-radius:15px;
  padding:29px 25px 31px 25px;
  box-sizing: border-box;
  text-align:left;

  font-size: 14px;
  line-height: 20px; 
  font-weight: 400; 
}

.contacts-sidebar-address {
  width:148px; 
  margin:0;
  margin-bottom:1px;
}

.contacts-sidebar-for-call {
  margin:0;
  margin-bottom:5px;
}

.contacts-sidebar-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  margin:0;
  margin-bottom:18px;
}

.contacts-sidebar-button {
  padding:10px 27px;
  border-radius:30px;
  margin-top:19px;
}

.form-of-filters {
  margin-top:26px;
  margin-bottom: 35px;
  display:flex;
  flex-wrap: wrap;
}

.form-of-filters label {
line-height: 18px;
font-weight: 500;
margin-top: 4px;
}

.form-of-filters fieldset {
  border:0 none;
  margin:0;
  margin-right: 14px;
  padding:0;
}

.button-apply-filters {
  width:144px;
  height:37px;
  align-self:flex-end;
}

.pagination-list {
  list-style: none;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;  
  flex-grow:1;   
  margin:0;
  margin-top:46px;
  margin-bottom:30px;
    
  padding:0; 
}

.pagination-list::before {
  content: "";

  position: relative;
  top: 8px;
  right: 5px;

  width: 8px;
  height: 8px;

  border-top: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  opacity: 0.2;
  transform: rotate(-135deg);
  margin-right: 9px;
 }

 .pagination-list::after {
  content: "";

  position: relative;
  top: 8px;
  right: 5px;

  width: 8px;
  height: 8px;

  border-top: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  transform: rotate(45deg);
  margin-left:17px;
 }

.pagination-item {
  margin-right:2px;
  width:27px;
  height:26px;
  border-radius:50%;
  text-align:center;
}

.pagination-item a {
  margin:0;
  padding:0;
  margin-top:2px;
  line-height: 28px;
  font-weight: 500;
}

.pagination-item:last-child {
  margin-right:0;
}

.feedback-form-wrapper {
  position: fixed;
  
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;

  top: 50%;
  left: 50%;

  width: 430px;
  margin-left:-239px;
  margin-top:-222px;
  padding:15px 24px 27px 24px;

  display:flex;
  flex-direction: column;
}

.feedback-form-title {
  margin:0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form-wrapper .email-field {
  margin-bottom: 20px;
  width:267px;
}

.feedback-comment {
  margin-bottom: 25px;
  width  : 100%;
  height : 155px;
  resize: none;
  overflow:auto;

  border-radius:5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  outline-offset:-1px;
  padding-left:14px;
  font-family: "Roboto", Arial, sans-serif;  
  
  line-height: 24px;
  font-weight: 700;
  color:#323232;
  box-sizing: border-box;
}

.feedback-button {
  align-self:flex-end;
  padding:9px 24px 11px 24px;
  border-radius:30px;
}

.delete-form-button {
  width:18px;
  height:18px;

  right:18px;
  top:13px;
}

.delete-form-button:before,
.delete-form-button:after {
  height: 2px; 
  width: 22px;  

  position: absolute;

  top:8px;
  right:0;
}

.separator {  
  display:block;
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}