body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;  
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color:#849d8f;  
  color:#ffffff;  
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-elements{
  display: none;
}

.main-navigation {
  line-height: 18px;
  color: #ffffff;      
}

.site-navigation{
  list-style: none;
}

.user-navigation{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;  
  background-color:rgba(255, 255, 255, 0.2);    
  list-style: none; 
}

.site-navigation a,
.user-navigation a{
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
  background-color: #ffffff;
  color: #323232;
}

.phone{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a{
  color:#ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.sliders{
  list-style: none;
}

.slider-title{
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.button{
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
  color:  #ffffff;
  text-align: center;
  background: linear-gradient(to bottom, #e74a35, #f26843);
  border: none; 
}

.button:hover,
.button:focus{
  background: linear-gradient(to bottom, #e74a35, #f26843), rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

.button:active{
  background: linear-gradient(to bottom, #e74a35, #f26843), rgba(0, 0, 0, 0.07);
  background-blend-mode: overlay;
}

.special-offers{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  list-style: none;
}

.special-offer-title{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer-raspberries{
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat; 
  background-color: rgb(97,24,46);
}

.special-offer-chocolate{
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat; 
  background-color: rgb(114,67,48);
}

.catalog-list{
  list-style: none;
}

.catalog-item a{
  color:#ffffff;
}

.catalog-item-title{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;  
}

.catalog-item strong{
  font-size: 45px;
  line-height: 45px;
  text-align: left;  
}

.catalog-item:hover{
  background: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;    
}

.catalog-item .button{
  visibility: hidden;
}

.about-us{
  background-color: #9d8b84;
  background-image: url("../img/waffle-background.jpg"); 
  color: #323232;
}

.about-us-title{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  margin-left:21px;
  margin-top:26px; 
  padding:0;
}

.about-us-advantages{
  list-style: none;
  margin:0;
  padding:0;
}
  
.about-us-advantages-item{
  font-weight: 400;
  margin-left:77px;
  margin-top:23px; 
}

.new-in-blog{
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg"); 
  background-repeat: no-repeat;  
  font-weight: 500;
  color:#323232; 
  margin:0;
  padding:0;
}

.new-in-blog p{
  margin:0;
  padding:0;
}

.link-to-article{    
  font-size: 24px;
  line-height: 30px; 
  font-weight: 700;   
  color:#323232;
  margin:0;
  padding:0;
}

.new-in-blog a:hover,
.new-in-blog a:focus{  
  color:#e84d37; 
}

.subscription{
  background-image: url("../img/bg-post.svg");  
  background-repeat: no-repeat;   
  color:#5a5a5a;
  font-weight: 400;
  margin:0;
  padding:0;
}

.contacts{
  font-size: 14px;
  line-height: 20px; 
  font-weight: 400;
  background-color: #ffffff;
  color:#323232;
}

.contacts span{
  font-size: 18px;
  line-height: 24px; 
  font-weight: 700;
}

.contacts a{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.page-footer a{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;  
}

.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active{
  color:#ffbc9e;
}

.social-list{
  opacity: 0.5;
  list-style: none;
}

.useful-links{
  list-style: none;
}

.link-for-suppliers a{
  font-weight: 700;
}

.copiright{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.activ-button-of-navigation{
  background-color: #d07058;
}

.full-basket{
  background-color: #f8f7f4;
}

.full-basket a{
  color: #323232;
}

.bread-crumbs{
  list-style: none;
  margin:0;
  margin-top: 28px;
  padding:0;  
}

.bread-crumbs a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#ffffff;
  margin:0;
  padding:0;
}

.main-title{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin:0;
  margin-top: 13px;
  padding:0;  
}

.name-of-filter{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: #ffffff; 
}

.sorting:hover,
.sorting:focus{
  color: #323232;
}

.sorting,
.price,
.fat,
.fillers{  
  background-color: rgba(255, 255, 255, 0.2);
  list-style: none;
}

.button-apply-filters{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; 
}

.button-apply-filters:hover,
.button-apply-filters:focus,
.button-apply-filters:active{
  background-color: #ffffff; 
  color: #323232;  
}

.pagination-list{
  list-style: none;
}

.pagination-item a{
  color: #ffffff;
}

.pagination-item-not-activ a{
  color:rgba(255, 255, 255, 0.2);
}

.pagination-item-current a,
.pagination-item a:active{
  background-color: #ffffff; 
  color: #323232;
}

.pagination-item a:hover,
.pagination-item a:focus{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; 
}

/* ----- Сеточные стили ----- */
.page-header{
  width:100%;    
}

.container {
  width:1146px;
  margin:auto;
  padding:0 27px; 
  display:flex; 
  flex-wrap: wrap;  
}

.page-header .container{
  justify-content: flex-end;    
}

.main-navigation{
  display:flex;
  justify-content: space-between;  
  width:100%; 
}

.header-logo{
  margin-top: 9px;
}

.site-navigation {
  margin-left:24px;
  margin-top:32px;
  display:flex;
  
}
.site-navigation-item{
  margin-right: 32px;
}

.user-navigation {
  margin-left:auto;
  margin-top:23px;
  display:flex;
}                                                                                                                        

.user-navigation-item{
  margin-left: 9px;
  padding:0;
}

.phone{
  align-self: center;
  margin:0;
  text-align:right;
}

.about-us{
  margin: 0;  
  margin-top:40px;
  min-height: 306px;
}

.about-us-advantages{
  display: flex;
  flex-wrap:wrap;
}

.about-us-advantages-item{
  width: 475px;  
}

.news-container{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}

.new-in-blog,
.subscription{
  width:560px;
  min-height:220px;  
}

.page-footer{
  width: 100%;
  min-height:103px;
}

.social-list{
  margin:0;  
  margin-top:36px;
  padding:0;    
  display:flex;
}

.social-list-item{
  margin-right:11px;
}

.useful-links{
  margin:0;
  padding:0;
  margin-top:37px;
  margin-left: 236px;
  width: 305px;
  display:flex;
  align-content:flex-start; 
  flex-wrap: wrap; 
}

.useful-links-item{
  width: 143px;
  margin:0;
  padding:0;
}

.link-ecology{
  width: 162px;
}

.copiright{
  margin-left:auto;  
  margin-top:18px;
}

.catalog-list{
  display:flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item{
  width: 267px;
  margin-right:26px;
  margin-top: 41px;
  min-height: 321px;
}

.catalog-item:nth-child(4n){
  margin-right: 0;
}

.bread-crumbs{
  display:flex;
}

.bread-crumbs-item{
  margin-right:11px;
}

.main-page .container{
  flex-direction:column;
}
